<div class="container-fluid mb-1" style="background: linear-gradient(
  to bottom,
  #fff 0%,
  #fff 50%,
  #20212f 50%,
  #20212f 100%
);">
  <div class="row">
    <div class="col col-12 text-center">
      <a href="https://www.thesalesrebellion.com/">
        <img src="/assets/img/logo-footer.webp" style="margin-bottom: 80px; width:200px">
      </a>
    </div>
  </div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1EZNT3ZWTC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1EZNT3ZWTC');
</script>
