<div class="container-fluid dark">
  <div class="container menu">
    <div id="content" class="row align-items-start">
      <div class="col col-12">
        <nav id="main-menu" class="navbar navbar-expand-md">
          <div class="container-fluid">
            <a class="navbar-brand fs-5" href="/">
              <img class="d-inline-block align-middle me-2" src="/assets/img/logo.webp" alt="The Sales Whale logo" style="width:230px">
            </a>
            <a href="https://www.thesalesrebellion.com/">
              <img class="d-inline-block align-middle me-2" src="/assets/img/logo-tsr.webp" alt="The Sales Rebellion logo" style="width:100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav text-end">
                <li class="nav-item">
                  <a class="nav-link" href="/assets/pdfs/sales-whale-coloring-pages.pdf"><span>Coloring Pages</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=""><span>About</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=""><span>Get Your Copy</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div> 
  </div>
</div>
