---
#layout: compress
---

<!doctype html>
<html lang="en" dir="ltr">

{% include "head.liquid" %}

<body class="{% if page.classes %}{{ page.classes }}{% endif %}">
  {% include "navigation.liquid" %}
  {{ content }}
  {% include "footer.html" %}
</body>
</html>
